


<div id="id01" class="modal">

    <form class="modal-content animate" action="/action_page.php" method="post">

        <div class="imgcontainer">

            <h3 style="text-align: center">Đăng nhập</h3>
            <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>

        </div>

        <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <button type="submit">Login</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
            <span class="psw"><a href="#" style="text-decoration: none">Quên mật khầu ?</a></span>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <img src="https://kfcvietnam.com.vn/templates/images/question_icon.png" /> Bạn chưa có tài khoản?
            <a href="@Url.Action("SignUP","Customer")" class="  text-decoration-none text-dark">
                <u><strong> Đăng ký ngay</strong></u>
            </a>
        </div>

    </form>
</div>

