@model IEnumerable<testing.Models.Category>
@using testing.Models;
@{
    ViewBag.Title = "LoaiMon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý loại món</h2>
<hr />

<hr />
<div class="shopping-cart">
    <div class="px-4 px-lg-0">
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

                        @using (Html.BeginForm("ThemLoaiMon","Admin",FormMethod.Post))
                        {
                            <div class="form-horizontal">
                                <div class="col-md-5">
                                    <input type="text" name="cateName" id="cateName" class="input-lg" placeholder="Nhập loại món..." required />
                                    @if(ViewBag.Error != null)
                                    {
                                        @ViewBag.Error
                                    }
                                    <button type="submit"  class="btn btn-danger" style="font-weight:bold">Thêm loại món</button>
                                </div>
                            </div>
                        }
                        <hr style="padding-bottom:20px" />
                        <!-- Shopping cart table -->
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="border-0">
                                            <div class="p-2 px-3 text-uppercase">Mã loại</div>
                                        </th>
                                        <th scope="col" class="border-0">
                                            <div class="p-2 text-uppercase">Tên loại món</div>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="align-middle"><strong>@item.CateID</strong></td>
                                            <td class="align-middle">
                                                <strong>@item.CName</strong>
                                            </td>
                                            @using (Html.BeginForm("DeleteCate","Admin",new {id =item.CateID }))
                                            {
                                                 <td class="align-middle">                                            
                                                <button type="submit" class="btn btn-danger">Xóa</button>                                        
                                            </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- End -->
                    </div>
                    </div>              
            </div>
        </div>
    </div>
</div>

