@model IEnumerable<testing.Models.Category>

<div class="card bg-light mb-3">
    <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Thực đơn</div>

    <ul class="list-group category_block">
        @foreach (var item in Model)
        {
            <li class="list-group-item text-white">
                <a href="@Url.Action("FoodByCate","FoodHome",new { id=item.CateID})">
                    @item.CName
                </a>
            </li>
        }
    </ul>

</div>
